[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
python-language-server = {extras = ["all"],version = "*"}
pytest = "*"

[packages]
scipy = "*"
numpy = "*"

[requires]
python_version = "3.7"
